{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "7.6.0"
        }
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "7.6.0"
            }
          }
        ]
      ],
      "plugins": ["dynamic-import-node"]
    }
  }
}
