/**
 * Set up your Font Sizes, uses Fluid Type and Modular Scale as a default
 *
 * @package  generator-lilly
 * @author   Martin Herweg <info@martinherweg.de>
 * @author   David Hellmann <davidhellmann.com@gmail.com>
 */

/*
|--------------------------------------------------------------------------
| _settings.fontsizes.scss
|--------------------------------------------------------------------------
*/

@import '~modularscale-sass/stylesheets/modularscale';

$base-font-size: 16px;
$max-font-size: 21px;
$base-line-height: 1.5;

$modularscale: (
  base: $base-font-size,
  ratio: $major-second,
  $breakpoint-xs: (
    base: $base-font-size,
    ratio: $major-second,
  ),
  $breakpoint-xl: (
    base: $max-font-size,
    ratio: $fourth,
  ),
);
