/**
 * Default Styles for Headings, can also be used as a class
 *
 * @package  generator-lilly
 * @author   Martin Herweg <info@martinherweg.de>
 * @author   David Hellmann <davidhellmann.com@gmail.com>
 */

/*
|--------------------------------------------------------------------------
| _elements.headings.scss
|--------------------------------------------------------------------------
*/

/* stylelint-disable selector-class-pattern */

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  @include fluid(space(1), space(2), margin-bottom);
  word-wrap: break-word;
  font-family: fontfamily('base');
  font-weight: map-getter($fontweights, 'extra-light');
  line-height: $base-line-height;
}

h1,
.h1 {
  @include ms-respond(font-size, 4);
}

h2,
.h2 {
  @include ms-respond(font-size, 3);
}

h3,
.h3 {
  @include ms-respond(font-size, 2);
}

h4,
.h4 {
  @include ms-respond(font-size, 1);
}

h5,
.h5 {
  @include ms-respond(font-size, 0);
}

h6,
.h6 {
  @include ms-respond(font-size, -1);
}

/* stylelint-enable selector-class-pattern */
