/**
 * Default styles for Blockquotes
 *
 * @package  generator-lilly
 * @author   Martin Herweg <info@martinherweg.de>
 * @author   David Hellmann <davidhellmann.com@gmail.com>
 */

/*
|--------------------------------------------------------------------------
| _elements.quotes.scss
|--------------------------------------------------------------------------
*/


blockquote {
  margin: verticalrhythm(2) 0;

  p {
    font-family: fontfamily('headline');
    font-weight: 700;
    font-style: italic;
  }
}
