/**
 * Page-level constraining and wrapping elements.
 *
 * @package  generator-lilly
 * @author   Martin Herweg <info@martinherweg.de>
 * @author   David Hellmann <davidhellmann.com@gmail.com>
 * @author   Harry Roberts <https://github.com/inuitcss/inuitcss>
 */

/*
|--------------------------------------------------------------------------
| _objects.wrapper.scss
|--------------------------------------------------------------------------
*/


.o-wrapper {
  @include fluid(space(2), space(3), padding-left padding-right);

  max-width: $app-max-width;

  margin-right: auto;
  margin-left: auto;
}

.o-wrapper--float {
  @include clearfix;
}


/*
|--------------------------------------------------------------------------
| Size Variants
|--------------------------------------------------------------------------
*/


.o-wrapper--small {
  @include fluid(space(1), space(2), padding-left padding-right);
}

.o-wrapper--large {
  @include fluid(space(3), space(4), padding-left padding-right);
}

.o-wrapper--huge {
  @include fluid(space(5), space(6), padding-left padding-right);
}
